@model IEnumerable<BookStore.Models.Domain.Book>
@{
}

<div class="container pt-3">
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-dark" href="/Book/Add">+ Add more</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Books</h3>

            <table  class="table table-stripped table-bordered table-dark">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Genre</th>
                        <th>Isbn</th>
                        <th>Total Pages</th>
                        <th>Author</th>
                        <th>Publisher</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model){
                    <tr>
                            <td>@item.Title</td>
                            <td>@(item.Genre?.Name ?? "No Genre")</td>
                            <td>@item.ISBN</td>
                            <td>@item.TotalPages</td>
                            <td>@(item.Author?.AuthorName ?? "No Author")</td>
                            <td>@(item.Publisher?.PublisherName ?? "No Publisher")</td>
                        <td>
                                <a class="btn btn-success" href="/Book/Update?id=@item.Id" style="margin-right: 10px;"><i class="bi bi-pen"></i></a>
                                <a class="btn btn-danger" href="/Book/Delete?id=@item.Id"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

